@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cabecalho {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: "Protest Guerrilla", sans-serif;
    font-style: normal;
    background-color: #00283C;
    color: #FFFCD9;
  }
  
  .cabecalho img {
    max-width: 100vw;
    height: auto; /*Ver isso*/
    margin-bottom: .5rem;
  }  
  
  /* Layout para telas médias e grandes */
  @media (min-width: 768px) {
    .cabecalho {
      flex-direction: row; 
    }
  
    .elementos {
      flex: 1; /* Divide o espaço disponível igualmente */
      margin-left: 40%;
    }
  }
  
  /* Layout para telas pequenas */
  @media (max-width: 767px) {
    .cabecalho {
      flex-direction: column; 
      text-align: center; 
    }
  
    .elementos {
      margin-bottom: 10px; 
    }
  
    .cabecalho img {
      max-width: 80vw; 
    }
  }
  